{
  "geofence": [
    {
      "id": 1,
      "name": "Preston",
      "enabled": true,
      "coordinates": [
        [
          -2.70579,
          53.75194
        ],
        [
          -2.70433,
          53.75304
        ],
        [
          -2.70619,
          53.75338
        ],
        [
          -2.70616,
          53.75216
        ],
        [
          -2.70579,
          53.75194
        ]
      ],
      "area": 10886
    },
    {
      "id": 2,
      "name": "Manchester",
      "enabled": true,
      "coordinates": [
        [
          -2.2524,
          53.4551
        ],
        [
          -2.25196,
          53.44881
        ],
        [
          -2.24464,
          53.44901
        ],
        [
          -2.24509,
          53.45131
        ],
        [
          -2.24658,
          53.4513
        ],
        [
          -2.24657,
          53.45341
        ],
        [
          -2.24776,
          53.45342
        ],
        [
          -2.25126,
          53.45506
        ],
        [
          -2.2524,
          53.4551
        ]
      ],
      "area": 269561
    },
    {
      "id": 3,
      "name": "London",
      "enabled": true,
      "coordinates": [
        [
          -0.29353,
          51.47035
        ],
        [
          -0.31028,
          51.47338
        ],
        [
          -0.3067,
          51.47485
        ],
        [
          -0.30247,
          51.47913
        ],
        [
          -0.29826,
          51.48282
        ],
        [
          -0.29425,
          51.48528
        ],
        [
          -0.29067,
          51.48617
        ],
        [
          -0.28996,
          51.48502
        ],
        [
          -0.2873,
          51.48523
        ],
        [
          -0.28564,
          51.48499
        ],
        [
          -0.28706,
          51.48339
        ],
        [
          -0.28691,
          51.48264
        ],
        [
          -0.29053,
          51.47815
        ],
        [
          -0.29224,
          51.47433
        ],
        [
          -0.29353,
          51.47035
        ]
      ],
      "area": 1379735
    }
  ]
}